.master-container {
  margin-top: 70px;
  margin-bottom: 10px;
  height: 600px;
  position: relative;
  box-shadow: 0px 4px 10px #52525225;
  
}

.master-left {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  
}

.master-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.master-main {
  white-space : nowrap;
  overflow : hidden;
   position: absolute;
   top:15%;
   left:5%;
}

.master-title{
  width: 100%;
  font-size: 12px;
  line-height: 1.9;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.877);
}

.master-sub{
  margin-bottom: 10px;
  width: 100%;
}
.master-subject {
  line-height: 1.9;
  letter-spacing: 0.2px;
  font-size: 14px;
  margin-top: 5px;
  margin-right: 4px;
  padding: 4px 12px;
  border-radius: 100px;
  background-color: #244fad9f;
  color: rgba(255, 255, 255, 0.767);
  font-weight: 700;
  
}
.master-icon{
  color:rgba(255, 255, 255, 0.877);
}
.likeIcon{
  color:rgb(255, 217, 0);
  margin-right: 10px;
}

.master-image {
  width: 450px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
   
}

 
.master-introduce {
}

.mastr-arrow-container {
  display: flex;
  justify-content: center;
  
}

.slide-up {
  font-size: 2.0rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.slide-down {
  font-size: 2.0rem;
  cursor: pointer;
  color: #cfd8dcdc;
}

.slide-up-hover:hover {
  transition: transform 0, 5s;
  transform: translateY(-2px);
}

.slide-down-hover:hover {
  transition: transform 0, 5s;
  transform: translateY(2px);
}
.master-card-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.master-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  list-style: none;
  padding: 1rem 0;
  margin-bottom: 0;
  overflow: visible;
  
  /* transition: 1s;
  transform: translateY(200px); */
}

.master-card {
  width: 500px;
  height: 300px;
  list-style: none;
  margin: 30px 10px;
  box-shadow: 10px 10px 10px -6px rgb(124, 124, 124);
  border-radius: 8px;
  transform: 2s;
  transition: 0.4s;
  /* flex-shrink: 0; */
}

.master-class-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

Tab{
  display: flex;
  flex-direction:column
}
.tabs{
  display:flex;
  margin-top: 10px; 
}
.tab{
  transform: 2s;
  transition: 0.4s;
}
.tab:hover{
  transform: translate(0, -3px);
}
.tap-content{
  width:100%;
  margin-top: 2px;
}

.tabs .tab{
  font-size: 1rem;
  text-align: center;
  line-height: 50px;
  width:130px;
  height: 60px;
  cursor:pointer;
  border-radius: 18px 18px 0px 0px;
  background-color: rgba(235, 235, 235, 0.925);
  border: 2px solid rgba(11, 148, 118, 0.74);
  font-weight: bold;
  color:rgb(29, 29, 29)
  position: relative;
  color:rgb(41, 40, 40)
}

.items{
  width:100%;
  display: none;
  padding:10px;
  background-color:rgba(235, 235, 235, 0.925);
  position: relative;
  border-radius: 0px 0px 20px 20px;
  border: 2px solid rgba(11, 148, 118, 0.74);
  
  
}


.items::before{
  content:'';
  position: absolute;
  top:0;
  left:0px;
  width:120px;
  height:2px;
  border:2px solid rgba(255, 255, 255, 0);
  background-color:rgba(49, 243, 49, 0.616);
}

.items:nth-child(2)::before{
  left:130px;
  background-color: rgba(49, 243, 49, 0.616);
}

.items:nth-child(3)::before{
  left:260px;
  background-color: rgba(49, 243, 49, 0.616);
}
.items:nth-child(4)::before{
  left:390px;
  background-color: rgba(49, 243, 49, 0.616);
}

.items.active{
  display: inline-block;
}
@media only screen and (max-width: 992px) {
  .master-right {
    display: none;
  }
  .master-left {
    float:none;
    left:20%;
  }
}
@media only screen and (max-width: 480px) {
  .master-right {
    display: none;
  }
}
